* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Esta propiedad es muy importante para cuidar que no se deba hacer scroll */ 
} 

.mainf {
    border: black 8px solid;
    display: flex;
    flex-flow: column wrap;
    /* align-content: space-between; */
    align-content: center;
    align-items: center;
}

.main div {
    border: rgb(11, 247, 62) 7px solid;
    width: 50px;
    height: 70px;
}


.main__div1 {
    background-color: rgb(138, 79, 192);
}
.main__div2 {
    background-color: rgb(43, 137, 226);
}
.main__div3 {
    background-color: rgb(202, 58, 77);
}