* {
    box-sizing: border-box;
}
.main {
    border: 2px solid black;
}
.main__nav {
    border: 2px solid black;
    margin: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 100px;
}
.main__nav__item {
    border: 2px solid black;
    list-style: none;
    font-size: 35px;
    padding: 20px;
}