* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
.caja_principal {
    display: flex;
    flex-flow: column wrap ;
    align-items: center;
    margin-top: 5rem;
}

.caja1 {
    border: black 2px solid;
    background-color: blanchedalmond;
    width: 60rem;
    height: 60rem;
    position: relative;
    border-radius: 20px;
}
.caja2 {
    border: black 2px solid;
    background-color: red;
    width: 40rem;
    height: 15rem;
    position: absolute;
    top: 2rem;
    border-radius: 30px;
}