* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

.caja1 {
    border: black 1rem solid;
    background-color: blanchedalmond;
}
.caja2 {
    border: black 1rem solid;
    background-color: red;
}