* {
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}

/* Header */

.header_father {
    /* border: solid black 2px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* width: 120rem; */
    height: 7rem;
    font-size: 10rem;
    padding: 1rem;
    background-color: #63fff9;   
}
    .header_item1 {
        /* border: solid black 2px; */
        width: 10rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #00caff;
        border-radius: 15px;
    }
    .header_item1 img {
        width: 2rem;
        height: 3rem;
    }

    .header_item2 {
        /* border: solid black 2px; */
        display: flex;
        background-color: #00caff;
        border-radius: 15px;
        margin-left: 2rem;
    }
        .header_item2_list {
            /* border: solid black 2px; */
            text-decoration: none;
            display: flex;
            flex-flow: row wrap;
            list-style: none;
            justify-content: space-around;
            width: 60rem;
            align-items: center;
        }

/* main */

.main {
    /* border: solid black 2px; */
    display: flex;
    flex-flow: column;
}
    .main_left {
        /* border: solid black 2px; */
        width: 50rem;
        height: 66.2rem;
        display: flex;
        flex-flow: column wrap;
        background-color: #99c9c7;
        position: relative;
        align-items: center;
        justify-content: space-evenly;
    }
        .main_left_box {
            background-color: #00caff;
            border-radius: 15px;
            height: 12rem;
            width: 45rem;
            margin-top: 2rem;
        }
    .main_right {
        border: solid black 2px;
    }

/* footer */

.footer {
    border: solid black 2px;
    height: 6rem;
    background-color: #1eadd1;
}
